.row{
    display: flex;
    justify-content: space-between;
    

}
.col{
  position: relative;
  
}
.row-date-picker{
  display: flex;
  justify-content: space-around;
}
.icon-bar {
  width: fit-content; /* Full-width */
  background-color: #555; /* Dark-grey background */
  overflow: auto; /* Overflow due to float */
  border-radius: 10px;
  box-shadow: 0px 4px 4px #0000004c;
  position: relative;

  
}

.icon-bar button {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 12px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 24px; /* Increased font size */
}

.icon-bar button:hover {
  background-color: #000; /* Add a hover color */
}

.icon-bar span {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: fit-content; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 12px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 24px; /* Increased font size */
  cursor: pointer;
}

.icon-bar span:hover {
  background-color: lightgray; /* Add a hover color */
}
.active {
  background-color: #5a57ff; /* Add an active/current color */
}
.display{
  max-width: 950px;
  
}
.btn-tittle{
  width: 100px;
}
.icon-bar-wrapper{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.button {
  margin-top: 3%;
  background-color: #007bff;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  position: relative;
  left:auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-color: #0052ab;
}

.centered{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.height-50{
  height: 100px;
}

table{
  border: 1px solid black;
  border-radius: 5px;
  border-collapse: collapse;
  margin: 20px auto;
}
th{
  border: 1px solid black;
  padding: 10px;
  background-color: #f2f2f2;
}
td{
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

tr:hover{
  background-color: #cbcbcb;
}
.map-container{
  border-radius: 15px;
  height: 400px;
  box-shadow: 0px 4px 4px #00000040;
  overflow: hidden;
}