

.Logo{
align-items: center;
display: flex;
gap:10px;
padding: 30px 20px 30px 20px;

}
.icono{
    width: 4vmin;
}
.sizedBox{
    height: 20px;
}
.tittle{
    color: white;
    font-weight: 700;
    font-size: large;
    line-height: normal;
    align-items: ce;
}

.rectangle-logo{
    border:  8px solid;
    border-color: white;
    height: 16px;
    width: 22px;
}
.groupButton{
    align-items: center;
    display: flex;
    gap: 10px;
    padding: 10px 20px 20px 20px;
}
.BtnTittle{
    color: white;

}
nav {
    background-color: #5a57ff;
    border-radius: 0px 40px 50px 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    position: fixed;

    top: 0;
    left: 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    flex-direction: column;
    padding: 0;
    width: 100%;
  }
  
  nav li {
    margin: 10px 0;
    width: 100%;
  }
  
  nav a {

    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
    transition: background-color 0.5s;
    padding: 10px;
    display: inline-block;
    border-radius: 25px;
    text-align: center;
    width: 85%;
  }
  
  nav a:hover {
    background-color: lightgray;
  }
#noLink{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
}
#noLink :hover {
    background-color: transparent;

  }
  
.link{
    color: #FF0000;
    text-decoration: none;
}

.fixed{
  margin-right: 15%;
}
@media (min-width: 600px) {
    nav li {
      flex-basis: auto;
    }
  }
